<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="styleLink" rel="stylesheet" type="text/css" href="/views/style.css">
    <title>Website Settings</title>
</head>

<body id="body">
    <script type="text/javascript" src="/views/script.js"></script>
    <h1>Website Settings</h1>

    <form id="settings-form">
        <!-- Opzioni colori sfonod, testo, dimensione carattere e font -->
        <label for="bg-color">Background Color:</label>
        <!-- Scelta colore sfondo -->
        <select id="bg-color">
            <option value="black" style="background-color: black; color: white;">Black</option>
            <option value="green" style="background-color: green; color: white;">Green</option>
            <option value="yellow" style="background-color: yellow; color: black;">Yellow</option>
            <option value="lightgrey" style="background-color:  grey; color: black;" selected>Grey</option>
            <option value="white" style="background-color: white; color: black;">White</option>
            <option value="darkgrey" style="background-color: darkgrey; color: white;">Dark Grey</option>
            <option value="blue" style="background-color: blue; color: white;">Blue</option>
            <option value="lightblue" style="background-color: lightblue; color: black;">Light Blue</option>
            <option value="red" style="background-color: red; color: white;">Red</option>            
        </select>

        <!-- Scelta  colore testo -->
        <label for="text-color">Text Color:</label>
        <select id="text-color">
            <option value="black" style="background-color: black; color: white;"selected>Black</option>
            <option value="green" style="background-color: green; color: white;">Green</option>
            <option value="yellow" style="background-color: yellow; color: black;">Yellow</option>
            <option value="lightgrey" style="background-color: lightgrey; color: black;" >Light Grey</option>
            <option value="white" style="background-color: white; color: black;">White</option>
            <option value="darkgrey" style="background-color: darkgrey; color: white;">Dark Grey</option>
            <option value="blue" style="background-color: blue; color: white;">Blue</option>
            <option value="lightblue" style="background-color: lightblue; color: black;">Light Blue</option>
            <option value="red" style="background-color: red; color: white;">Red</option>
            
        </select>

        <!-- Scelta Font testo -->
        <label for="text-font">Text Font:</label>
        <select id="text-font">
            <option value="Arial" selected>Arial</option> 
            <option value="Times New Roman">Times New Roman</option>
            <option value="Century Gothic">Century Gothic</option>
        </select>

        <!-- Scelta dimensione testo ( fino a 200%) -->
        <label for="text-size">Text Size:</label>
        <select id="text-size">
            <option value="100%" selected>100%</option> 
            <option value="110%">110%</option>
            <option value="150%">150%</option>
            <option value="200%">200%</option>
        </select>
        <br />
        <button type="button" id="apply">Apply Settings</button> <!-- Applica le modifiche al sito -->
        <button type="button" id="reset">Reset to Default</button>  <!-- Ripristina a default le modifiche -->
        <button type="button" id="toHomepage">To Homepage</button> <!-- Torna ad Homepage con modifiche salvate -->

    </form>
    <form id="form"> <!-- Testo di esempio  -->
        <div id="example-text" aria-label="example text">Example text: The mind is its own place, and in itself can make a heaven of
            hell, a hell of heaven - Paradise Lost</div>
    </form>



    <script>
        /* costante per valori di default CSS */
        const defaultStyles = {
            bgColor: 'lightgrey',
            textColor: 'black',
            textFont: 'Arial',
            textSize: '100%',
            flag: false
        };
        /* Evento salvataggio */
        document.getElementById('apply').addEventListener('click', function () {
          /* Prendo i colori inseriti */
            const bgColor = document.getElementById('bg-color').value;
            const textColor = document.getElementById('text-color').value;
            const textFont = document.getElementById('text-font').value;
            const textSize = document.getElementById('text-size').value;
            /* Applico il tema su tutti gli elementi a schermo */
            const allElements = document.querySelectorAll('*');

            allElements.forEach((element) => {
                element.style.backgroundColor = bgColor;
                element.style.color = textColor;
                element.style.fontFamily = textFont;
                element.style.fontSize = textSize;
            });
          

            /* Refresh pagina con modifiche  */
            const styleLink = document.getElementById('styleLink');
            styleLink.href = `/views/style.css?bgColor=${bgColor}&textColor=${textColor}&textFont=${textFont}&textSize=${textSize}`;
            /* Flag per mantenere modifiche tornando a homepage */
            defaultStyles.flag = true;
        });

        /* Ripristino valori di default */
        document.getElementById('reset').addEventListener('click', function () {
            // Set selected options to default values
/*             document.getElementById('bg-color').value = "white";
            document.getElementById('text-color').value = defaultStyles.textColor;
            document.getElementById('text-font').value = defaultStyles.textFont;
            document.getElementById('text-size').value = defaultStyles.textSize;

            // Apply default styles to the example text
            const exampleText = document.getElementById('example-text');
            exampleText.style.backgroundColor = `#${defaultStyles.bgColor}`;
            exampleText.style.color = `#${defaultStyles.textColor}`;
            exampleText.style.fontFamily = `#${defaultStyles.textFont}`;
            exampleText.style.fontSize = `#${defaultStyles.textSize}`; */

         /* Ripristino eliminando i parametri dall'url e refreshando la pagina */
            window.location.href = '/settings';
            
            defaultStyles.flag = false; /* Elimina parametri da navigazione homepage */
     
            
        });

       /* Navigo a Homepage */
        document.getElementById('toHomepage').addEventListener('click', function () {
           /* Prendo valori scelti */
            const bgColor = document.getElementById('bg-color').value;
            const textColor = document.getElementById('text-color').value;
            const textFont = document.getElementById('text-font').value;
            const textSize = document.getElementById('text-size').value;
            var url = '';
            const flag = defaultStyles.flag;

            if(flag){/* Se flag = true ho premuto applica e quindi ho i parametri nella homepage */
            url = `/?bgColor=${bgColor}&textColor=${textColor}&textFont=${textFont}&textSize=${textSize}`;
            
            }else{ /* Altrimenti torno indietro senza parametri */
                url = '/'
            }
            window.location.href = url;
        });

        /* Funzione per applicare stile a tutti gli elementi */
        function applyStylesToAllElements(bgColor, textColor, textFont, textSize) {
           
            const allElements = document.querySelectorAll('*');

         
            allElements.forEach((element) => {
                element.style.backgroundColor = bgColor;
                element.style.color = textColor;
                element.style.fontFamily = textFont;
                element.style.fontSize = textSize;
            });
        }

        /* Al caricamento della pagina applico il CSS proveniente dalla homepage ( per non perdere valori durante navigazione) */
        window.onload = function () {
            
            const currentURL = new URL(window.location.href);
            const bgColor = currentURL.searchParams.get('bgColor');
            const textColor = currentURL.searchParams.get('textColor');
            const textFont = currentURL.searchParams.get('textFont');
            const textSize = currentURL.searchParams.get('textSize');
            if (bgColor && textColor && textFont && textSize) {
    
            applyStylesToAllElements(bgColor, textColor, textFont, textSize);
            }
        };
        
    </script>

</body>

</html>